<html>

    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">

        <title>Jeferson Rocha</title>
    </head>

    <body>
        <div class="container-fluid title">
            <div class="container mb-5">

                <div class="row text-right">
                    <div class="col-5">
                        <p>Jeferson Rocha</p>
                    </div>
                    <div class="col-2 text-center">
                        <a href="/"><img src="/images/profile2.jpg" class="rounded-circle"></a>
                    </div>
                    <div class="col-5 text-left">
                        <p>Fullstack Developer</p>
                    </div>
                </div>
            </div>
        </div>


        <body>