/* h1,
h2,
h3,
h4,
h5,
p,
em {
    font-family: 'Jura', sans-serif;


}

.title {
    background-color: black;
   
    color: white;
    font-size: 40px;
    

}

.title p {
    margin: -5;
    padding: -5;
}

.subtitle {
    background-color: rgb(43, 40, 40);
    text-align: center;
    color: white;
    font-size: 2rem;
}

.box {
    background-color: #faf9f9d5;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);


}

.box .row {
    margin-right: 15px;
    margin-left: 15px;
}

img {
    width: 70px;
    height: 70px;
} */

.lateral {
    background-color: #373737;
    color: white;
    height: 100vh;
    position: fixed;
}

.sec{
    box-shadow:2px 2px 2px 2px #3737378a;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    margin-top:-5px;
    margin-bottom: 20px;
}
h1{
    text-align: center;
    
}
.lateral a{
    list-style: none;
    color:white;
}
.lateral img{
    border: 2px solid white;
}
