<%- include('header')%>
<div class="container">
    <div class="row mt-5">
        <div class="col text-center">
            <h1>Experiência</h1>
        </div>
    </div>
    <div class="box">
        <div class="row mt-3 ">
            <div class="col mt-3">
                <h3>IT Support Analyst - Administrador Configuration Manager</h3>
                <p>AVEVA | Engineering software for the Plant and Marine</p>
                <em>Período: Ago de 2014 – o momento</em>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <p>Trabalho em equipe de administração do Configuration Manager, com foco em Deployment,
                    Applications (Uninstall\Install\Collections, Criação de Script...), Software Center entregando
                    serviço
                    para todos os escritórios no mundo.
                </p>
            </div>
            <div class="row">
                <p>
                    Trabalho em time global compartilhando informações e documentando tickets através do sistema de
                    chamados.
                </p>
            </div>
            <div class="row">
                <p>
                    Responsável pelo suporte de toda América Latina com Office365, Hyper-V, VPN, atuando também com
                    Microsoft
                    Server, roteadores, switch, aplicações internas de RH, Financeiro e equipe técnica.
                </p>
            </div>
            <div class="row">
                <p>
                    Suporte a usuários locais, home office e aos usuários de vários países da empresa.

                </p>
            </div>
            <div class="row">
                <p>
                    Assistência ao Gerente de TI em compra de Hardware, equipamentos, gestão de contratos
                    de serviços e mudanças de infraestrutura.
                </p>
            </div>
            <div class="row">
                <p>
                    Auxilio em eventos com soluções para diversos tipos de necessidades.
                </p>
            </div>
        </div>
    </div>


    <div class="box mt-5">
        <div class="row">
            <div class="col mt-3">
                <h3>Analista de Sistemas ERP</h3>
                <p>Kaistudo</p>
                <em>Período Out de 2013 – ago de 2014</em>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <p>
                    Responsável por toda TI da e fazendo a ligação entre tecnologia x negócio com os sócios da empresa,
                    sugerindo novos procedimentos e investimentos.
                </p>
            </div>
            <div class="row">
                <p>
                    Implementação de um sistema de comunicação interno.
                </p>
            </div>
            <div class="row">
                <p>
                    Manter, atualizar e customizar sistemas ERP (Winthor \ Totvs) em funcionamento para as áreas da
                    empresa
                    e para os mais de 45 Representantes Comerciais da empresa (RCA)
                </p>
            </div>
            <div class="row">
                <p>
                    Manter, atualizar e customizar sistema de Vendas Maxima Sistemas em funcionamento para toda a equipe
                    de
                    RCAs da
                    empresa
                </p>
            </div>
            <div class="row">
                <p>
                    Treinamento de funcionários nas ferramentas de vendas e ERP
                </p>
            </div>
            <div class="row">
                <p>
                    Treinamento de estagiário, gestão de contratos de prestação de serviços de TI
                </p>
            </div>
        </div>
    </div>

    <div class="box mt-5">

        <div class="row mt-3">
            <div class="col mt-3">
                <h3>Analista de Suporte Bilíngue</h3>
                <p>FIFA World Cup Organising Committee Brazil</p>
                <em>Dez de 2012 – Jun de 2013</em>

            </div>
        </div>

        <div class="col">
            <div class="row">
                <p>
                    Responsável por toda telefonia do evento Copa das Confederações.
                </p>
            </div>
            <div class="row">
                <p>
                    Suporte a usuários VIP em Português e Inglês
                </p>
            </div>
            <div class="row">
                <p>
                    Trabalho em time multicultural.
                </p>
            </div>
            <div class="row">
                <p>
                    Documentação de chamados via sistema de tickets
                </p>
            </div>
            <div class="row">
                <p>
                    Suporte a laptop, Sistemas windows, Redes.
                </p>
            </div>
            <div class="row">
                <p>
                    Controle de ativos
                </p>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col text-center">
            <h1>Idiomas</h1>
        </div>
    </div>
    <div class="container box">
        <div class="row ">
            <div class="col mt-3 text-center">
                <p>Português - Nativo</p>
                <p>Inglês - Fluete</p>
            </div>
        </div>
    </div>

    <div class="row  mt-5">
        <div class="col text-center">
            <h1>Certificados</h1>
        </div>
    </div>

    <div class="container box">

        <div class="row mt-3">
            <div class="col">
                <p>Intermediate R - DataCamp</p>
            </div>
            <div class="col">
                <p>Introduction to the Tidyverse - DataCamp</p>

            </div>
            <div class="col">
                <p>Introduction to R - DataCamp</p>
            </div>

        </div>
        <div class="row mt-3">
            <div class="col">
                <p>M207031 - Administering System Center Configuration Manager - QA Ltd</p>
            </div>

            <div class="col">
                <p>Big Data Fundamentos 2.0 - Data Science Academy</p>
            </div>
            <div class="col">
                <p>Insights Discovery Personal Profile - Discovery Insights</p>
            </div>

        </div>
    </div>


</div>




<%- include('footer')%>